img {
    border-radius: 50%;
    height: 45px;
    margin-top: -20px;
    border: 2px solid black;
  }
  
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
  }
  
  .msg {
    display: flex;
    padding: 20px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    box-shadow: 0 0 10px rgb(164, 164, 164);
    align-items: center;
  }
  
  .sent {
    background-color: #395dff;
    color: white;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
  }
  
  .received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    border-top-left-radius: 1000px;
    float: left;
  }
  
  .sendMsg {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }
  
  .msgs {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
  }

  /* signout button styling */

  .logout-navbar{
    background-image: linear-gradient(to left , rgb(107, 103, 103) , rgb(55, 55, 202) , white);
    height: 50px;

  }
  .signout{
   color: white !important;
   font-weight: 900 !important;
   background-color: rgba(0, 5, 137, 0.863) !important;
    position: sticky !important;
     margin-top: 5px !important;
     margin-left: 5px !important;

  }

  .fixed{
    top: 0px;
    position: sticky;
  }
  
  


  .signin{
    background-image: linear-gradient(to left , rgb(55, 55, 202) , white);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .signin-card{
    border: 2px solid white;
    height: 20vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    background-color: rgba(54, 54, 225, 0.746);
    flex-direction: column;
  }
  .btn-signin{
    color: white !important;
    border: 2px solid white !important;
    width: 400px !important;
    height: 75px;
    margin-left: 80px !important;
  }

  .signimg{
    margin:5px;
  }

  .header{
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(to left ,white, rgb(55, 55, 202));
    width: 100vw;
  }

  .header h1{
    color: white;
  }



  @media (max-width: 775px) {
    p {
      font-size: 20px;
    }
    .sent {
      padding: 10px 10px 0 10px;
    }
    .received {
      padding: 10px 10px 0 10px;
    }
    img {
      height: 35px;
      margin-top: -10px;
    }
    .signin-card{
      height: 50vh;
      width: 80vw;
    }
    .btn-signin{
      width: 200px !important;
      height: 100px;
      font-size: 15px !important;
    }
  }
  @media (max-width: 500px) {
    p {
      font-size: 15px;
    }
    .sent {
      padding: 7px 7px 0 7px;
    }
    .received {
      padding: 7px 7px 0 7px;
    }
    img {
      height: 30px;
      margin-top: -7px;
    }
  }

@media (max-width:1227px) {
  .signin-card{
    height: 40vh;
    width: 70vw;
    align-items: center;
   
  }
}
  
@media (max-width:763px) {
  .signin-card{
    height: 40vh;
    width: 60vw;
    align-items: center;
    margin-right: 50px;

  }
  .btn-signin{
   margin-left: 25px !important;
  }
}

@media (max-width:412px) {
  .signin-card{
    width: 80vw;
    margin-left: 30px;
  }
}
  